{% extends "introduction.html"%}
{% block content %}
<div id="main">
<a href="">author</a>&gt;<span id="title">book</span>
<div align=center><img src="../../static/img/book s.jpg" id="main_pic" /></div>
<p id="main_text">William Shakespeare was born in Stratford-upon-Avon in Warwickshire and was baptised a few days later on 26 April 1564. His father, John Shakespeare, was a glove maker and wool merchant and his mother, Mary Arden, was the daughter of a well-to-do landowner from Wilmcote, South Warwickshire. It is likely Shakespeare was educated at the local King Edward VI Grammar School in Stratford.</div>
{%  endblock %}}